*{
    margin:0px;
}
.container{
       height: 400px;
       width: 100%;
       background-image: url("img.jpg");
}

@media screen and (max-width:600px) {
    .container{
           background-color: red;
           background-image: url("img.jpg");
           background-size: contain;
    }

    .body{
        background-color: orange;
    }
}
